# build files
CMakeFiles/
build.ninja
.ninja_log
.ninja_deps
cmake_install.cmake
CMakeCache.txt
.cache

*.a
*.o
*.s
*.inc

# binaries
bin/filskalang

# deps
_deps

# Google Test
CTestTestfile.cmake
Test\[*
Test
*_test
*_test\[*

# core dump
core

# TableGen
tablegen_compile_commands.yml
*.inc.d
